* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 8px 20px;
  border-radius: 8px;
  background-color: #2e86c9;
  color: white;
  border: none;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-title {
  text-align: center;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  background-color: #566F72;
  color: white;
  padding: 24px 56px;
  flex-wrap: wrap;
}

@media screen and (max-width: 555px) {
  header {
    justify-content: center;
    gap: 24px;
    padding: 24px;
  }
}

.nav-items {
  display: flex;
  gap: 32px;
}

.user-header {
  display: flex;
  gap: 32px
}

/* MY TRIPS */

.hero-image {
  background-image:
  linear-gradient(rgba(14, 50, 54, 0.30), rgba(14, 50, 54, 0.50)),
  url(https://i.imgur.com/pBrBTDs.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
  height: 48vmin;
}

.hero-container {
  color: white;
  width: 80vmin;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0px;
}

.hero-content {
  color: white;
  max-width: 70vmin;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0px;
}

.hero-content>div>h2 {
  margin-bottom: 4px;
  font-size: 5vmin;
  margin-bottom: 12px;
}

.hero-btn {
  background-color: white;
  color: #1E717B;
  font-weight: bold;
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-btn:hover {
  cursor: pointer;
}

.container > div > h1 {
  text-align: center;
  margin-bottom: 32px;
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  margin-bottom: 78px;
}

@media (max-width: 1024px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr;
  }
  .card {
    width: 450px;
  }
}

@media (max-width: 690px) {
  .cards-grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .card {
    width: 200px;
  }
}

.card {
  width: 250px;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.trip-card:hover {
  cursor: pointer;
}

.img-container {
  height: 200px;
  margin-bottom: 20px;
}

.card-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover
}

.card-title {
  font-size: 20px;
  margin-bottom: 4px;
}
.card-subtitle {
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  width: fit-content;
  white-space: nowrap;
}

.img-empty-container {
  height: 20vmin;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #cedddf;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Sign In */

.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 92vh;
  /* background-color: #304D56; */
  text-align: left;
  color: white;
  background-image:
  linear-gradient(rgba(14, 50, 54, 0.30), rgba(14, 50, 54, 0.50)),
  url(https://i.imgur.com/Kn6haJi.jpeg);
  background-size: cover;
  background-position: center;
}

label {
  width: 100px;
  margin-right: 24px;
}

input {
  background-color: transparent;
  border: 1px solid black;
  padding: 8px;
  color: black;
  border-radius: 4px;
  width: 250px;
}

.signin-input {
  border: 1px solid white;
  color: white;
}

/* TRIP DETAILS */

.trip-container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.trip-hero {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45vh;
  margin-bottom: 56px;
  color: white;
  padding: 20px 0px;
}

.trip-hero-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.trip-btn {
  background-color: rgba(255, 255, 255, 0.3);
}

.btns {
  display: flex;
  gap: 16px
}

.trip-title {
  font-size: 40px;
  margin-bottom: 16px
}

.trip-subtitle {
  font-size: 24px;
  margin-bottom: 16px
}

@media (max-width: 500px) {
  .trip-title {
    font-size: 32px;
  }
  .trip-subtitle {
    font-size: 20px;
  }
}

.day-title {
  background-color: #C09B80;
  padding: 16px;
  color: white;
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#day {
  font-weight: 500;
  margin-bottom: 4px;
}

.dates {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 4px;
  gap: 8px;
width: 100%;
}

.get-days-container {
  width: 60vmin;
}

.days {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.trip-activity {
  padding-left: 16px;
  margin-top: 8px;
}

.title-link {
  display: flex;
  gap: 24px;
  margin-top: 20px;
  margin-bottom: 12px;
}

.stay-added {
  background-color: #d0dede;
  padding: 24px 40px;
  border-radius: 8px;
}

.flight-card-title {
  display: flex;
  gap: 16px;
  margin-top: 20px;
  margin-bottom: 12px;
}

#airline {
  margin-top: 16px;
  font-weight: bold;
}

.added-card {
  min-width: 35vmin;
}

.stay-added {
  margin-bottom: 16px;
}

.added-flight-card {
  margin-top: 16px;
}

.add-another {
  cursor: pointer;
  font-weight: bold;
  color: #566F72;
}

.no-booking {
  background-color: #d0dede;
  color: #1E717B;
  padding: 24px 0;
  min-width: 200px;
  font-weight: 500;
  font-size: 16px;
  margin-top: 24px;
}

.no-stay-btn {
  margin-bottom: 32px;
}

.trip-details-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 80px;
  gap: 10vmin;
  margin: 0 56px
}

@media (max-width: 950px) {
  .trip-details-content {
    flex-direction: column;
    align-items: center;
    gap: 8vmin;
    margin: 0;
  }

  .get-days-container {
    width: 90vmin;
  }

}

.stay-flight-container {
  min-width: 4vmin;
  margin-bottom: 48px;
}

/* activities form page */
.activities-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  text-align: left;
  width: 80%;
}

.add-activity-btn:hover {
  background-color: #d0dede;
  border-radius: 8px;
  height: fit-content
}

/* activity */

.activity {
  color: #1E717B;
}

.activity-no-link {
  color: black;
}

li {
  margin-bottom: 8px;
}

.form-background {
  border: 1px solid white;
  padding: 48px;
  border-radius: 8px;
  background-color: #d0dede;
  margin: 56px 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 92vh;
  background-color: white;
  text-align: left;
  color: black
}

.flight-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  text-align: left;
  color: black;
  padding-top: 32px;
  padding-bottom: 70px;
}

.form-btn {
  background-color: white;
  color: #1E717B;
  font-weight: bold;
}

/* Place details */

.place-img {
  height: 50vmin;
}

.place-details-container {
  margin-top: 70px;
  display: flex;
  gap: 32px;
  max-width: 75vmin;
  text-align: center;
  flex-direction: column;
  margin-bottom: 70px;
}

/* trip form */

.trip-form-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

/* sign up form */

.signup-form {
  padding: 0 56px;
}