* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  gap: 32px;
  background-color: rgb(180, 180, 180);
}


.user-header {
  display: flex;
  gap: 32px;
}

/* MY TRIPS */

.trip-card {
  border: 2px solid black;
}

.trip-card:hover {
  cursor: pointer;
}